.cabecalhoPrincipal .container {

    display: flex;
    align-items: center;
    justify-content: space-between;

}
.cabecalhoPrincipal-nav{
    display: flex;
}

.rodapePrincipal-patrocinadores .container{
    display: flex;
    justify-content: space-between;

}
.rodapePrincipal-patrocinadores-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 75%;
}
.rodapePrincipal-contatoForm-fieldset{
    display: flex;
}
.rodapePrincipal-navMap-list{
    display:flex;
    flex-direction: column;
    height: 260px;
    flex-wrap: wrap;
}

.conteudoPrincipal-cursos{
    display: flex;
    flex-wrap: wrap;



}
.conteudoPrincipal-cursos-link{
    width: 20%;

}

.conteudoPrincipal-cursos-link:nth-child(4n){
    margin-right: 0;
}
.conteudoPrincipal-cursos-link:nth-child(4n+1){
    margin-left: 0;
}





/*Parte mobile



 */

.cabecalhoPrincipal-nav{
    flex-direction: column;
}


.cabecalhoPrincipal .container{
    flex-direction: column;
    align-items: initial;
    text-align: center;
}
.conteudoPrincipal-cursos-link{
    width: 100%;
}
.conteudoPrincipal-cursos{
    flex-direction: column;
}
.rodapePrincipal-navMap-list{
    height: auto;
}

.rodapePrincipal-patrocinadores .container{
    flex-direction: column;
    align-items: center;
}